* {
  font-family: 'Red rose';
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 22px;
  margin-left: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

.category {
  display: flex;
  flex-direction: column;
}

.horizontal {
  border: 1px solid #004AAD;
  display: inline-block;
  margin-left: 20px;
  width: 200px;
}

.title {
  margin-bottom: 50px;
  margin-top: 70px;
}

.highlight {
  color: #004AAD;
}

.frames {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.frame {
  width: 80px;
  height: 80px;
  background-color: #2D3047;
}

